#report{
  max-height: 100%;
}

#date {
  margin-bottom: 2px;
  margin-top: 10px;
  text-align: left;
}

.front-end-content {
  background-color: black;
  border-left: 1px solid black;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}

.front-end-content > * {
  height: 2%;
  font-size: 2rem;
}

#labels {
  width: 430px;
  height: 20px;
  background-color: rgb(10, 117, 193);
  color: white;
  display: grid;
  grid-template-columns: 50px 120px 55px 55px 50px 50px 50px 54px;
  border: 1px solid black;
  border-bottom: none;
  position: relative;
  z-index: 1;
  text-align: center;
}
#labels > * {
  padding: 2px;
  margin: 0px;
  z-index: 2;
}

.front-end-header,
.front-end-content {
  width: 430px;
}

.front-end-header {
  display: flex;
  background-color: rgb(217, 217, 217);
  height: 20px;
  border: 1px solid black;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

#fuel:last-child {
  border-bottom: 1px solid black;
}


#side-section{
  margin-left: 66px;
}



#birthdays, #holidays {
  max-width: 238px;
}

#liquor-section{
  display:grid;
  grid-template-columns: 1;
  margin: 0px;
  padding: 0px;
  justify-content: right;
}


.fresh-start-label {
  color: black;
  text-align: center;
  width: 16px;
}

#fresh-start-labels {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-left: 4px;
  padding: 0px;
}

.optional-section{
  height: 120px;
  margin-top: 30px;
}

.side-header-small {

}
