#board {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px
}

.shifts {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    row-gap: 5px;
}
