#report {
  max-height: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 40px 1fr 50px 47px 48px 47px 42px 60px;
  grid-auto-rows: 20px;
  background: linear-gradient(
    to left,
    white 60px,
    black 0%
  );
  gap: 1px;
  padding-left: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
}

.report * {
  background-color: white;
  height: 20px;
  margin: 0;
}

#report > h6 {
  background-color: rgb(10, 117, 193);
  outline: 1px solid rgb(10, 117, 193);
  color: white;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 0px;
  line-height: 1rem;
}

#date {
  background-color: white;
  text-align: left;
  grid-column: 1 / -1;
  outline: none;
  margin-left: -1px;
}

#fs-labels {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-self: center;
  padding: 2px;
  box-sizing: border-box;
  outline: none;
  justify-content: center;
  align-items: center;
}

#fs-labels > h6 {
  line-height: 1rem;
}

.no-outline {
  outline: none;
}

.title-header {
  width: 100%;
  grid-column: 1 / -2;
  background-color: rgb(217, 217, 217);
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.front-end-content {
  background-color: black;
  border-left: 1px solid black;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}

#labels {
  width: 430px;
  height: 20px;
  background-color: rgb(10, 117, 193);
  color: white;
  display: grid;
  grid-template-columns: 40px 150px 50px 47px 48px 47px 42px 60px;
  gap: 1px;
  border: 1px solid black;
  position: relative;
  z-index: 1;
  text-align: center;
}

#labels > * {
  padding: 2px;
  margin: 0px;
  z-index: 2;
}

.front-end-header,
.front-end-content {
  width: 430px;
}

.front-end-header {
  display: flex;
  background-color: rgb(217, 217, 217);
  height: 20px;
  border: 1px solid black;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

#fuel:last-child {
  border-bottom: 1px solid black;
}


#side-section{
  margin-left: 66px;
}



#birthdays, #holidays {
  max-width: 238px;
}

#liquor-section{
  display:grid;
  grid-template-columns: 1;
  margin: 0px;
  padding: 0px;
  justify-content: right;
}


.fresh-start-label {
  color: black;
  text-align: center;
  width: 20px;
  outline: none;
}

#fresh-start-labels {
  display: flex;
  flex-direction: row;
  width: 54px;
  justify-content: space-evenly;
  margin-left: 4px;
  padding: 0px;
}

.optional-section{
  height: 120px;
  margin-top: 30px;
}

