#board {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    justify-content: center;
}

.shifts {
    display: grid;
    grid-template-columns: repeat(6, min-content);
    row-gap: 5px;
}

.section {
    width: fit-content;
}
