#cart-sheet{
  width: 100%;
  height: 100%;
  padding: 20px
}

#main{
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 20px
}

#lot {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 20px);
  
  border: 1px solid black;
  border-bottom: none;
  width: 90%
}

#lot > * {
  
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black
}

#lot > input {
  width: 100%;
}

#lot-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
#lot-associate-label {
  grid-column-end: span 4;
}

.cart-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-right: 1px solid black
}

.shift-highlight {
  background-color: #a8a8ff;
}

.utility-highlight {
  background-color: #ff572e;
}

.name-highlight {
  background-color: yellow;
}

.break-highlight {
  background-color: yellow;
}

.error {
  background-color: red;
}