#cart-sheet{
  width: 100%;
  height: 100%;
  padding: 20px;
}

#headers {
  display: flex;
  flex-direction: column;
  align-items: end;
  border-bottom: 2px solid black;
}
#headers > * {
  margin: 10px;
}

#main{
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

#lot {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(15, 30px);
  border: 1px solid black;
  border-bottom: none;
  width: 100%
}

#lot > * {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid black
}

#lot > input {
  width: 100%;
}

#lot-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.lot-time-label {
  border-right: 1px solid black;
  font-size: small;
  font-weight: bold;
}

#second-time-label {
  border-left: 1px solid black;
}

.lot-associate-label {
  grid-column-end: span 4;
  font-weight: bold;
  font-size: medium;
}

.cart-time {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border-right: 1px solid black
}

.right-time {
  border-left: 1px solid black;
}

.bagger-slot {
  font-size: 14px;
}

.shift-highlight {
  background-color: #a8a8ff;
}

.utility-highlight {
  background-color: #ff572e;
}

.name-highlight {
  background-color: yellow;
}

.break-highlight {
  background-color: yellow;
}

.error {
  background-color: red;
}