input.highlight, p.highlight {
  background-color: yellow;
}

.person {
  display: grid;
  grid-template-columns: 40px 150px 50px 47px 48px 47px 40px 60px;
  gap: 1px;
  margin-top: 1px;
  border-right: 1px solid black;
  font-size: .80rem;
  text-align: left;
}

.blank-row {
  height: 15px !important;
}

.person > * {
  background-color: white;

  padding: 1px;
  
  margin: 0px;
}

.person-name {
  font-size: 0.75rem;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
  align-self: center;
  line-height: 1.25rem;
}

.time {
  display: flex;
  padding-left: 2px;
  justify-content: left;
  align-items: center;
  font-size: 0.75rem;
}

.break,
.lunch {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.break:empty,
p.lunch:empty {
  background-color: rgb(192, 192, 192);
}

.blank-row p.break,
.blank-row p.lunch {
  background-color: white;
}

.fresh-start {
  background-color: white;
  border: 1px solid black;
  height: 12px;
  width: 12px;
  align-self: center;
  margin-left: 2px;
}

.no-outline {
  outline: none !important;
}

.ffo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-self: center;
  padding: 2px;
  box-sizing: border-box;
  outline: none;
  justify-content: center;
  align-items: center;
}

.ffo-middle {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.ffo-left, .ffo-right {
  width: 18px;
  height: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.ffo-left {
  border-left: 1px solid black;
}

.ffo-right {
  border-right: 1px solid black;
}

.delete-btn {
  visibility: hidden;
  font-size: x-small;
}

*:not(.printable) > * > * >.person:hover > * > .delete-btn {
  visibility: visible;
}