.highlight {
  background-color: yellow !important;
}

.person {
  display: grid;
  grid-template-columns: 50px 120px 55px 55px 50px 50px 42px 15px;
  gap: 1px;
  margin-top: 1px;
  border-right: 1px solid black;
  font-size: .80rem;
  text-align: left;
  z-index: 1;
}

.blank-row {
  height: 15px !important;
}

.person > * {
  background-color: white;

  padding: 1px;
  
  margin: 0px;
}

.person-name {
  font-size: 0.75rem;
  text-align: left;
  padding: 2px;
  
}

.time {
  display: flex;
  padding-left: 2px;
  justify-content: left;
  align-items: center;
  font-size: 0.75rem;
}

.break,
.lunch {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

p.break:empty,
p.lunch:empty {
  background-color: rgb(192, 192, 192);
}

.blank-row p.break,
.blank-row p.lunch {
  background-color: white;
}

.fresh-start {
  background-color: white;
  border: 1px solid black;
  height: 12px;
  width: 12px;
  align-self: center;
  margin-left: 5px;
}