#restrooms-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restrooms-grid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(7, 30px);
  border: 1px solid black;
  border-bottom: none;
  width: 90%;
  font-size: 12px;
}

.associate-header {
  font-size: medium;
}

.time-header {
  border-right: 1px solid black;
  font-size: small;
}

.header {
  height: 100%;
  width: 100%;
  font-weight: bold;;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restrooms > * {
  background-color: white;
  border-bottom: 1px solid black
}

.double-full-slot{
  grid-row: 1 / 3;
  justify-content:center;
  
}

.slot {
  display:grid;
  grid-template-columns: 1fr 4fr;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.time {
  border-right: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: #c1bebe !important;
}

.associate-slot {
  text-align: left !important;
  font-size: 14px;
  padding-left: 10px;
  font-weight: bold;
}